busterblocks-webapp/src/main/resources/wsdl/maintainCustomerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://schemas.busterblocks.com/store"
				  targetNamespace="http://schemas.busterblocks.com/store">
	<wsdl:types>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
				   elementFormDefault="qualified"
				   targetNamespace="http://schemas.busterblocks.com/store">
			<xs:include schemaLocation="BusterblocksTypes.xsd"/>
		</xs:schema>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
				   elementFormDefault="qualified"
				   targetNamespace="http://schemas.busterblocks.com/store">
			<xs:element name="MaintainCustomerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Customer" type="tns:ServiceCustomer"/>
						<xs:element name="Command" type="tns:MaintainCommand"/>
					</xs:sequence>
					<xs:attribute name="schemaVersion" type="tns:schemaVersion" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:schema>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
				   elementFormDefault="qualified"
				   targetNamespace="http://schemas.busterblocks.com/store">
			<xs:element name="MaintainCustomerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Customer" type="tns:ServiceCustomer" minOccurs="0" maxOccurs="unbounded"/>
						<xs:group ref="tns:Result"/>
					</xs:sequence>
					<xs:attribute name="schemaVersion" type="tns:schemaVersion" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MaintainCustomerResponse">
		<wsdl:part element="tns:MaintainCustomerResponse" name="MaintainCustomerResponse"/>
	</wsdl:message>
	<wsdl:message name="MaintainCustomerRequest">
		<wsdl:part element="tns:MaintainCustomerRequest" name="MaintainCustomerRequest"/>
	</wsdl:message>
	<wsdl:portType name="maintainCustomerServices">
		<wsdl:operation name="MaintainCustomer">
			<wsdl:input message="tns:MaintainCustomerRequest" name="MaintainCustomerRequest"/>
			<wsdl:output message="tns:MaintainCustomerResponse" name="MaintainCustomerResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="maintainCustomerServicesSoap11" type="tns:maintainCustomerServices">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MaintainCustomer">
			<soap:operation soapAction=""/>
			<wsdl:input name="MaintainCustomerRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MaintainCustomerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="maintainCustomerServicesService">
		<wsdl:port binding="tns:maintainCustomerServicesSoap11" name="maintainCustomerServicesSoap11">
			<soap:address location="http://localhost:7001/busterblocks/busterblocks-ws/maintainCustomerService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>