busterblocks-webapp/src/main/resources/wsdl/rentAVideoService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://schemas.busterblocks.com/store"
				  targetNamespace="http://schemas.busterblocks.com/store">
	<wsdl:types>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
				   elementFormDefault="qualified"
				   targetNamespace="http://schemas.busterblocks.com/store">
			<xs:include schemaLocation="BusterblocksTypes.xsd"/>
		</xs:schema>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
				   elementFormDefault="qualified"
				   targetNamespace="http://schemas.busterblocks.com/store">
			<xs:element name="RentAVideoRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoItemSerialNumber" type="xs:string"/>
						<xs:element name="CustomerId" type="xs:string"/>
						<xs:element name="DateDue" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="schemaVersion" type="tns:schemaVersion" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:schema>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
				   elementFormDefault="qualified"
				   targetNamespace="http://schemas.busterblocks.com/store">
			<xs:element name="RentAVideoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="tns:Result"/>
					</xs:sequence>
					<xs:attribute name="schemaVersion" type="tns:schemaVersion" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="RentAVideoResponse">
		<wsdl:part element="tns:RentAVideoResponse" name="RentAVideoResponse"/>
	</wsdl:message>
	<wsdl:message name="RentAVideoRequest">
		<wsdl:part element="tns:RentAVideoRequest" name="RentAVideoRequest"/>
	</wsdl:message>
	<wsdl:portType name="RentAVideoServices">
		<wsdl:operation name="RentAVideo">
			<wsdl:input message="tns:RentAVideoRequest" name="RentAVideoRequest"/>
			<wsdl:output message="tns:RentAVideoResponse" name="RentAVideoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RentAVideoServicesSoap11" type="tns:RentAVideoServices">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RentAVideo">
			<soap:operation soapAction=""/>
			<wsdl:input name="RentAVideoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="RentAVideoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RentAVideoServicesService">
		<wsdl:port binding="tns:RentAVideoServicesSoap11" name="RentAVideoServicesSoap11">
			<soap:address location="http://localhost:7001/busterblocks/busterblocks-ws/rentAVideoService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>