busterblocks-jar/src/main/resources/xsd/MaintainMovieVideoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:tns="http://schemas.busterblocks.com/store"
		   targetNamespace="http://schemas.busterblocks.com/store"
		   elementFormDefault="qualified" version="1.00">

	<xs:include schemaLocation="BusterblocksTypes.xsd"/>

	<xs:element name="MaintainMovieVideoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Video" type="tns:ServiceVideo"/>
				<xs:element name="Command" type="tns:MaintainCommand"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="tns:schemaVersion" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
